header{
    height: 80px;
    /* background-image: linear-gradient(to right, rgb(42, 16, 83), rgb(184, 184, 184)); */
    /* background-color: rgb(89, 47, 47); */
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}
ul{
    list-style: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
nav ul li{
    cursor: pointer;
    font-weight: 600;
    color: white;
}