
.home-card{
    background-color: black;
    /* width: 100%; */
    border-radius: 0.7rem;
    padding: 0rem 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    align-items: center;
  
}

.home-card-left{
    display: flex;
    flex-direction: column;
    /* margin-left: 2rem; */
}

.home-card-left > p:nth-child(1){
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    width: 68px;
    margin-bottom: 1rem;
}

.home-card-left  h1:nth-child(2){
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;

}

.home-card-left  h1:nth-child(3){
    /* color: var(--yellow); */
    background-image: linear-gradient(to right, rgb(216, 159, 3),rgba(244, 199, 0, 0.973));
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;

}

.home-card-left > p:nth-child(4){
    margin: 2rem 0;
    color: var(--white);
    width: 450px;
}

.home-card .home-card-buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.home-card-buttons input[type='button']{
    color: var(--white);
    padding: 0.7rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 1rem;
    border: 1px solid var(--red)
}

.home-card-buttons input[type='button']:first-child{
    background-color: var(--red);
}

.home-card-right{
    position: relative; /* Instead of absolute */
    width: 50%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}