.categories-section {
  color: white;
  padding: 2rem 0;
  overflow: hidden;
}

.categories-container {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    transparent
  );
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  animation: scrollCategories 15s linear infinite;
  width: max-content;
  padding: 0 2rem;


}
.categories:hover {
    animation-play-state: paused; 
  }
@keyframes scrollCategories {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
