<section class="categories-section">
    <p class="section-header">Categories</p>

    <div class="categories-container" #categoriesContainer>
        <div class="categories" #categoriesWrapper>
            @for (cat of categories; track $index) {
                <app-categories-card [title]="cat.categoryName" [img]="cat.imagePath"></app-categories-card>
            }
        </div>

        <div class="slide-buttons">
            <button (click)="prevSlide()"><</button>
            <button (click)="nextSlide()">></button>
        </div>
    </div>



</section>