.card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 0.7rem;
    width: 250px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
}

.card p{
    font-size: 1.4rem;
    font-weight: bold;
}
.card img{
    width: 60px;
}